
html {height: 100%;}

* {margin: 0;padding: 0;}

body {font: normal .80em arial, sans-serif;background: #000 url(img/img3.jpg) no-repeat center fixed;color: #FFF;}

header h1,h2 {font: normal 400% 'News Cycle', arial, sans-serif; border-bottom: 0; text-transform: none; margin: 0;}

header h2 {font: 150% 'News Cycle', arial, sans-serif; padding: 0 0 0 0; color: #E2E03E; font-style:italic;}

#main {margin: 50px auto;width: 1050px;border-radius: 13px;background: transparent url(img/main.png);padding-bottom: 30px;}

#a2{font: normal 60% 'News Cycle', arial, sans-serif;color:#FD710B;font-style:italic;}

header{margin:20px;}

nav ul {list-style-type: none;overflow: hidden;padding:1px;height: 44px; width: 100%; border-radius: 13px 13px 13px 13px; color: #FFF; border: solid 1px #3BDDF5;background: #0DBBD5;}

nav li {float: left;}

nav li a {display: block;color: white;text-align: center;padding: 14px 16px;
    text-decoration: none; font: normal 150% 'Jenna Sue', arial, sans-serif;}

nav li a:hover:not(.active) {color:black;}

nav li a.active {color:#0000cc;}

p{margin:25px;line-height:25px;font-size: 16px;text-align:justify;text-indent:35px;}

img#i1{margin-right: 20px;}

q#q1{color:#FD710B;}

footer {margin:20px;overflow: hidden;height: 34px;border-radius: 13px 13px 13px 13px;color: #FFF;border: solid 1px #3BDDF5;background-color: #0DBBD5;text-align:center;padding-top:10px; font-size:13px;  }

#i1{color: #3333ff;}

img#i2{margin-left: 20px;}

#f1{margin-left: 150px;margin-right: 150px;font-size:20px;padding: 15px;color:#ffff66;}

#h1a1{font: normal 300% 'News Cycle', arial, sans-serif;color:#E2E03E;font-style:italic; }

input{padding:3px;}

div.gallery {margin: 20px;border: 1px solid #ccc;width: 400px;}

div.gallery:hover {border: 1px solid #777;}

div.gallery img {width: 100%;}

div.desc {padding: 15px;text-align: center;}
 
#g1{margin-left:80px;}

#h3{color:#E2E03E;font-size:20px;}

#ul1{margin-left:80px;font-size:15px;line-height:1.5}

li.dropdown {display: inline-block;}

.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;}

.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {display: block;}
